<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>helloWorld!!!</p>

<!--自定义一个对象，对象Person,对象中包含姓名name，年龄age，自定义5个Person的变量，
放入到数组中。遍历数组元素，按照年龄由大到小排序。-->
<script>
    function Person(name, age) {
        this.name = name;
        this.age = age;
    }

    var p1 = new Person('Tom', 18);
    var p2 = new Person('John', 16);
    var p3 = new Person('Susan', 15);
    var p4 = new Person('Anni', 19);
    var p5 = new Person('Tony', 23);
    var arr = [];
    arr.push(p1)
    arr.push(p2)
    arr.push(p3)
    arr.push(p4)
    arr.push(p5)
   var obj=arr.sort((m,n)=>m.age - n.age);
    for (var i=0;i<obj.length;i++){
        document.write(obj[i].name+"   "+obj[i].age+"<br/>")
    }



</script>
</body>
</html>